body {
  font-family: system-ui, sans-serif;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

button {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  background: black;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #f3f3f3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid #eee;
  margin-bottom: 0.75rem;
  border-radius: 6px;
}
